.header {
display: flex;
justify-content: flex-end;
align-items: center;
padding-top: 2rem;
padding-bottom: 2rem;
position: relative;
z-index: 9999;

}
.header__items {
    display: none;
}
.header__bar {
    display: block;
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
}










/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    
    .header .header__items {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 0px;
        list-style: none;
    }
    .header__link {
        font-size: var(--size-xs);
        font-weight: 600;
        letter-spacing: -0.05em;
        color: var(--clr-slate600);
        transition: color 0.4s ease;
    }
    .header__link:hover {
        color: var(--clr-rose);
    }
    .header__line {
        border: 1px solid var(--clr-slate600);
        padding-top: 1.5em;
    }
    .header__sun {
        display: block;
        color: var(--clr-slate600);
        width: var(--size-base);
        height: var(--size-base);
    }
    .header__btn {
        font-size: var(--size-xs);
    }
    .header__bar {
        display: none;
    }
    

}

/* lg */
@media (min-width: 1024px) {
    
    .header__link {
        font-size: var(--size-sm);
    }
    .header__sun {
        width: var(--size-xl);
        height: var(--size-xl);
    }
    .header__btn {
        font-size: var(--size-sm);
    }
}

/* xl */
@media (min-width: 1280px) {

    .header .header__items {
        gap: 2.5rem;
    }
    .header__link {
        font-size: var(--size-base);
    }
    .header__sun {
        width: var(--size-2xl);
        height: var(--size-2xl);
    }
    .header__btn {
        font-size: var(--size-base);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {}  */